<footer class="">
    <h4 class="">STAY IN THE KNOW! SUBSCRIBE
    TO OUR NEWSLETTER. PLUS, RECEIVE
    10% OFF YOUR FIRST ORDER.</h4>
    <input class="form-info__input" type="email" name="email" id="" placeholder="Enter your email to subscribe"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Only lowercase is requred. Invalid email address"
        required="">
    <ul class="">
        <li class="">ABOUT SHOWFIELDS</li>
            <a href="" class="">About</a>
            <a href="" class="">Contact</a>
            <a href="" class="">FAQ</a>
            <a href="" class="">Policy</a>
        <li class="">VISIT US</li>
            <a href="" class="">Locations</a>
            <a href="" class="">Store Appointments</a>
            <a href="" class="">Virtual Appointments</a>
        <li class="">PARTNER WITH US</li>
            <a href="" class="">Artists</a>
            <a href="" class="">Brand Parternships</a>
            <a href="" class="">Careers</a>
        <li class="">FIND US</li>
            <a href="" class="">Instagram</a>
            <a href="" class="">Pinterest</a>
            <a href="" class="">Facebook</a>
            <a href="" class="">Twitter</a>
    </ul>
    <svg class="" width="8" height="17">
        <use href="./images/sprite.svg#icon-facebook"></use>
    </svg>
    <svg class="" width="17" height="17">
        <use href="./images/sprite.svg#icon-instagram"></use>
    </svg>
</footer>