<footer class="footer">
    <div class="container">
        <h4 class="footer__title">STAY IN THE KNOW! SUBSCRIBE TO OUR NEWSLETTER. PLUS, RECEIVE
            10% OFF YOUR FIRST ORDER.</h4>
        <input class="footer__input" type="email" name="email" id="" placeholder="Enter your email to subscribe"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Only lowercase is requred. Invalid email address"
            required="">
        <ul class="footer__list">
            <div class="footer__list--add" id="hider">
                <svg width="14" height="14">
                    <use href="./images/sprite.svg#icon-add"></use>
                </svg>
            </div>
            <li class="footer__list-item">ABOUT SHOWFIELDS</li>
            <a href="" class="footer__about" id="text">About</a>
            <a href="" class="footer__about" id="text">Contact</a>
            <a href="" class="footer__about" id="text">FAQ</a>
            <a href="" class="footer__about" id="text">Policy</a>
            <div class="footer__list--add-two" id="hider">
                <svg width="14" height="14">
                    <use href="./images/sprite.svg#icon-add"></use>
                </svg>
            </div>
            <li class="footer__list-item">VISIT US</li>
            <a href="" class="footer__visit">Locations</a>
            <a href="" class="footer__visit">Store Appointments</a>
            <a href="" class="footer__visit">Virtual Appointments</a>
            <div class="footer__list--add-three" id="hider">
                <svg width="14" height="14">
                    <use href="./images/sprite.svg#icon-add"></use>
                </svg>
            </div>
            <li class="footer__list-item footer__list-item--partner">PARTNER WITH US</li>
            <a href="" class="footer__partner">Artists</a>
            <a href="" class="footer__partner">Brand Parternships</a>
            <a href="" class="footer__partner">Careers</a>
            <li class="footer__list-item footer__list-item--social">FIND US</li>
            <a href="" class="footer__social">Instagram</a>
            <a href="" class="footer__social">Pinterest</a>
            <a href="" class="footer__social">Facebook</a>
            <a href="" class="footer__social">Twitter</a>
        </ul>
        <div class="footer__icon">
            <svg  width="8" height="17">
                <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
            <svg class="" width="17" height="17">
                <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
        </div>
        
    </div>
</footer>