<footer class="footer">
    <div class="container">
        <div class="footer__block">
                
            <div class="footer__form">
                <h4 class="footer__title">STAY IN THE KNOW! SUBSCRIBE TO OUR NEWSLETTER. PLUS, RECEIVE
                10% OFF YOUR FIRST ORDER.</h4>
                <input class="footer__input" type="email" name="email" id="" placeholder="Enter your email to subscribe"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Only lowercase is requred. Invalid email address"
                    required="">
                <div class="footer__input--icon">
                 <svg width="18" height="5">
                     <use href='./images/sprite.svg#icon-line'></use>
                 </svg>
                </div>
            </div>

        
            <ul class="footer__list list" id="list">
                <li class="footer__list-item">ABOUT SHOWFIELDS
                    <ul class="item">
                        <li><a href="" class="footer__about" >About</a></li>
                        <li><a href="" class="footer__about">Contact</a></li>
                        <li><a href="" class="footer__about">FAQ</a></li>
                        <li><a href="" class="footer__about">Policy</a></li>
                    </ul>
                </li>
                <li class="footer__list-item">VISIT US
                    <ul>
                        <li><a href="" class="footer__visit">Locations</a></li>
                        <li><a href="" class="footer__visit">Store Appointments</a></li>
                        <li><a href="" class="footer__visit">Virtual Appointments</a></li>
                    </ul>
                </li>
                <li class="footer__list-item footer__list-item--partner">PARTNER WITH US
                    <ul>
                        <li><a href="" class="footer__partner">Artists</a></li>
                        <li><a href="" class="footer__partner">Brand Parternships</a></li>
                        <li><a href="" class="footer__partner">Careers</a></li>
                    </ul>
                </li>
                <li class="footer__list-item footer__list-item--social">FIND US
                    <ul>
                        <li><a href="" class="footer__social">Instagram</a></li>
                        <li><a href="" class="footer__social">Pinterest</a></li>
                        <li><a href="" class="footer__social">Facebook</a></li>
                        <li><a href="" class="footer__social">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div> 
        
        <div class="footer__icon">
            <a href="https://www.facebook.com/" target="_blank"> 
                <svg width="8" height="17">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <svg class="" width="17" height="17">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>