<section>
    <h2>Watch Recent Live Curations</h2>
    <ul class="">
        <li>
            <img src="./images/2.jpg" alt="Nick Pinsker" width="67" height="79"></img>
            <p>Nick Pinsker</p>
        </li>
        <li>
            <img src="/images/3.jpg" alt="Lauren Mazzei" width="67" height="75"></img>
            <p>Lauren Mazzei</p>
        </li>
        <li>
            <img src="./images/5.jpg" alt="Sarah Potter" width="67" height="76"></img>
            <p>Sarah Potter</p>
        </li>
        <li>
            <img src="./images/6.jpg" alt="Caleb Thill" width="67" height="74"></img>
            <p>Caleb Thill</p>
        </li>
        <li>
            <img src="./images/2.jpg" alt="Nick Pinsker" width="67" height="79"></img>
            <p>Nick Pinsker</p>
        </li>
        <li>
            <img src="/images/3.jpg" alt="Lauren Mazzei" width="67" height="75"></img>
            <p>Lauren Mazzei</p>
        </li>
        <li>
            <img src="./images/5.jpg" alt="Sarah Potter" width="67" height="76"></img>
            <p>Sarah Potter</p>
        </li>
        <li>
            <img src="./images/6.jpg" alt="Caleb Thill" width="67" height="74"></img>
            <p>Caleb Thill</p>
        </li>
        <li>
            <img src="./images/2.jpg" alt="Nick Pinsker" width="67" height="79"></img>
            <p>Nick Pinsker</p>
        </li>
        <li>
            <img src="/images/3.jpg" alt="Lauren Mazzei" width="67" height="75"></img>
            <p>Lauren Mazzei</p>
        </li>
        <li>
            <img src="./images/5.jpg" alt="Sarah Potter" width="67" height="76"></img>
            <p>Sarah Potter</p>
        </li>
        <li>
            <img src="./images/6.jpg" alt="Caleb Thill" width="67" height="74"></img>
            <p>Caleb Thill</p>
        </li>
    </ul>

</section>