<section class="grid-section">
    <div class="container">
        <h2 class="grid-title">Watch Recent Live Curations</h2>
        <ul class="grid">
            <li class="grid__item triangle">
                <img class="grid__item-bgd" src="./images/Triangle.png" alt="triangle" width="178.94" height="163">
                <img class="grid__item-img" src="./images/1.jpg" alt="Ekaterina Popova" width="145" height=""></img>
                <p class="grid__item-text">Ekaterina Popova</p>
            </li>
        
            <li class="grid__item">
                <img class="grid__item--combined" src="./images/Combined Shape.png" alt="combined" width="118" height="59">
                <img class="grid__item-img" src="./images/2.jpg" alt="Nick Pinsker" width="" height=""></img>
                <p class="grid__item-text">Nick Pinsker</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="/images/3.jpg" alt="Lauren Mazzei" width="139" height=""></img>
                <p class="grid__item-text">Lauren Mazzei</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/4.jpg" alt="Emily Kammeyer" width="142" height=""></img>
                <p class="grid__item-text">Emily Kammeyer</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/5.jpg" alt="Sarah Potter" width="140" height=""></img>
                <p class="grid__item-text">Sarah Potter</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/6.jpg" alt="Caleb Thill" width="137" height=""></img>
                <p class="grid__item-text">Caleb Thill</p>
            </li>
            <li class="grid__item triangle">
                <img class="grid__item-img" src="./images/1.jpg" alt="Ekaterina Popova" width="141" height=""></img>
                <p class="grid__item-text">Ekaterina Popova</p>
            </li>
        
            <li class="grid__item">
                <img class="grid__item-img" src="./images/2.jpg" alt="Nick Pinsker" width="140" height=""></img>
                <p class="grid__item-text">Nick Pinsker</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="/images/3.jpg" alt="Lauren Mazzei" width="139" height=""></img>
                <p class="grid__item-text">Lauren Mazzei</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/4.jpg" alt="Emily Kammeyer" width="142" height=""></img>
                <p class="grid__item-text">Emily Kammeyer</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/5.jpg" alt="Sarah Potter" width="140" height=""></img>
                <p class="grid__item-text">Sarah Potter</p>
            </li>
            <li class="grid__item">
                <img class="grid__item-img" src="./images/6.jpg" alt="Caleb Thill" width="137" height=""></img>
                <p class="grid__item-text">Caleb Thill</p>
            </li>
        </ul>
    </div>
    
</section>