<section class="grid">
    <h2 class="grid__title">Watch Recent Live Curations</h2>
    <ul class="grid__cards">
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/1.jpg" alt="Ekaterina Popova" width="67" height="79"></img>
            <p class="grid__cards-item-text">Ekaterina Popova</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/2.jpg" alt="Nick Pinsker" width="67" height="79"></img>
            <p class="grid__cards-item-text">Nick Pinsker</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="/images/3.jpg" alt="Lauren Mazzei" width="67" height="75"></img>
            <p class="grid__cards-item-text">Lauren Mazzei</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/4.jpg" alt="Emily Kammeyer" width="142" height="160"></img>
            <p class="grid__cards-item-text">Emily Kammeyer</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/5.jpg" alt="Sarah Potter" width="67" height="76"></img>
            <p class="grid__cards-item-text">Sarah Potter</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/6.jpg" alt="Caleb Thill" width="67" height="74"></img>
            <p class="grid__cards-item-text">Caleb Thill</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/1.jpg" alt="Ekaterina Popova" width="67" height="79"></img>
            <p class="grid__cards-item-text">Ekaterina Popova</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/2.jpg" alt="Nick Pinsker" width="67" height="79"></img>
            <p class="grid__cards-item-text">Nick Pinsker</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="/images/3.jpg" alt="Lauren Mazzei" width="67" height="75"></img>
            <p class="grid__cards-item-text">Lauren Mazzei</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/4.jpg" alt="Emily Kammeyer" width="142" height="160"></img>
            <p class="grid__cards-item-text">Emily Kammeyer</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/5.jpg" alt="Sarah Potter" width="67" height="76"></img>
            <p class="grid__cards-item-text">Sarah Potter</p>
        </li>
        <li class="grid__cards-item">
            <img class="grid__cards-item-img" src="./images/6.jpg" alt="Caleb Thill" width="67" height="74"></img>
            <p class="grid__cards-item-text">Caleb Thill</p>
        </li>
    </ul>
</section>