<header>
    <svg width="20" height="15">
        <use href="./images/sprite.svg#icon-menu"></use>
    </svg>
    <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-search"></use>
    </svg>
    <svg width="14" height="18">
        <use href="./images/sprite.svg#icon-bag"></use>
    </svg>
    <svg width="13" height="10">
        <use href="./images/sprite.svg#icon-heart"></use>
    </svg>
    <img src="./images/Logomark_Black.png" alt="" width="42" height="52">
    <img src="./images/taglinewithlogo-2.png" alt="" width="181" height="49">
</header>