<header class="header">
    <div class="container">
        <div class="header-nav">
            <div class="header__menu--mobile">
		        <span></span>
		        <span></span>
		        <span></span>
	        </div>
            
            <div class="">
                <a href="">
                    <svg class="" width="20" height="20">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="" width="14" height="18">
                        <use href="./images/sprite.svg#icon-bag"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="" width="15" height="13">
                        <use href="./images/sprite.svg#icon-heart"></use>
                    </svg>
                </a>
            </div>
        </div>
        <img class="header-logo" src="./images/Logomark_Black.png" alt="logo" width="" height="">
        <img class="header-logo--text" src="./images/taglinewithlogo-2.png" alt="logo" width="" height="">
        <ul class="header-menu header-menu--js">
            <li class="header-menu__item "> <a href="">WHAT’S NEW</a></li>
            <li class="header-menu__item "> <a href="">BRANDS</a> </li>
            <li class="header-menu__item"> <a href="">CURATIONS</a> </li>
            <li class="header-menu__item"> <a href="">ART</a> </li>
            <li class="header-menu__item"> <a href="">BEAUTY</a> </li>
            <li class="header-menu__item"> <a href="">SELF CARE</a> </li>
            <li class="header-menu__item"> <a href="">STYLE</a> </li>
            <li class="header-menu__item"> <a href="">LIFESTYLE</a> </li>
            <li class="header-menu__item"> <a href="">TECH</a> </li>
            <li class="header-menu__item"> <a href="">STORIES</a> </li>
        </ul>
    </div>
</header>