<header class="header">
    <div class="container">
        <div class="header-nav">
            <div class="header__menu--mobile">
                <svg class="" width="30" height="25">
                <use href="./images/sprite.svg#menu"></use>
            </svg>
            </div>
            
            <div class="">
                <a href="">
                    <svg class="" width="20" height="20">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="" width="14" height="18">
                        <use href="./images/sprite.svg#icon-bag"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="" width="13" height="10">
                        <use href="./images/sprite.svg#icon-heart"></use>
                    </svg>
                </a>
            </div>
        </div>
        <img class="header-logo" src="./images/Logomark_Black.png" alt="logo" width="" height="">
        <img class="header-logo--text" src="./images/taglinewithlogo-2.png" alt="logo" width="" height="">
        <ul class="header-menu">
            <li class="header-menu__item ">WHAT’S NEW</li>
            <li class="header-menu__item ">BRANDS</li>
            <li class="header-menu__item">CURATIONS</li>
            <li class="header-menu__item">ART</li>
            <li class="header-menu__item">BEAUTY</li>
            <li class="header-menu__item">SELF CARE</li>
            <li class="header-menu__item">STYLE</li>
            <li class="header-menu__item">LIFESTYLE</li>
            <li class="header-menu__item">TECH</li>
            <li class="header-menu__item">STORIES</li>
        </ul>



    </div>
</header>