<section class="hero">
    <div class="container">
        <h1 class="hero__title">Live Curations</h1>
        <p class="hero__text">Our weekly live curations are one-of-a-kind live shopping events hosted 
by tastemakers from around the globe. We invite you to their worlds to give 
you an interactive and informative shopping experience. These curations feature 
hand-picked products and art from the most interesting misson-driven, 
design-oriented, innovative brands and artists in our community. </p>
    </div>
</section>