<section class="slider">
    <div class="container slider__container">
        <div class="slider__wrapper">
            <div class="slider__items">

                <div class="slider__main slider__item">
                    <div class="slider__foto slider__left">
                        <img class="slider__img" src="./images/hero.jpg" alt="foto girl" width="" height="">
                        <img class="slider__img--background" src="./images/Group58.png" alt="" width="" height="">
                        <button type="button" class="slider__button--first"> <div class="slider__button--oval"></div> LIVE RECORDING</button>
                    </div>
                    <div class="slider__right">
                        <h3 class="slider__title">A LIVE CURATION WITH</h3>
                <h3 class="slider__title-name">Maristella González</h3>
                        <p class="slider__text">Enter the wonderous world of Showfields. Our mission is to create a better way for customers to discover, engage and shop emerging brands and artists of tomorrow.
                        </p>
                    <button type="button" class="slider__button--second">RSVP</button>
                    </div>
                </div>

                <div class="slider__main slider__item">
                    <div class="slider__foto slider__left">
                        <img class="slider__img" src="./images/1.jpg" alt="foto girl" width="" height="">
                        <img class="slider__img--background" src="./images/Group58.png" alt="" width="" height="">
                        <button type="button" class="slider__button--first"> <div class="slider__button--oval"></div> LIVE RECORDING</button>
                    </div>
                    <div class="slider__right">
                        <h3 class="slider__title">A LIVE CURATION WITH</h3>
                <h3 class="slider__title-name">Maristella González</h3>
                        <p class="slider__text">Enter the wonderous world of Showfields. Our mission is to create a better way for customers to discover, engage and shop emerging brands and artists of tomorrow.
                        </p>
                    <button type="button" class="slider__button--second">RSVP</button>
                    </div>
                </div>

                <div class="slider__main slider__item">
                    <div class="slider__foto slider__left">
                        <img class="slider__img" src="./images/5.jpg" alt="foto girl" width="" height="">
                        <img class="slider__img--background" src="./images/Group58.png" alt="" width="" height="">
                        <button type="button" class="slider__button--first"> <div class="slider__button--oval"></div> LIVE RECORDING</button>
                    </div>
                    <div class="slider__right">
                        <h3 class="slider__title">A LIVE CURATION WITH</h3>
                <h3 class="slider__title-name">Maristella González</h3>
                        <p class="slider__text">Enter the wonderous world of Showfields. Our mission is to create a better way for customers to discover, engage and shop emerging brands and artists of tomorrow.
                        </p>
                    <button type="button" class="slider__button--second">RSVP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ol class="slider__indicators">
        <li data-slide-to="0"></li>
        <li data-slide-to="1"></li>
        <li data-slide-to="2"></li>
      </ol>
</section>