<section class="slider">
    <h3 class="slider__title">A LIVE CURATION WITH</h3>
    <h3 class="slider__title-name">Maristella González</h3>
    <div class="slider__foto">
        <img class="slider__img" src="./images/hero.jpg" alt="foto girl" width="118" height="118">
        <img class="slider__img--background" src="./images/Group58.png" alt="" width="250" height="250">
    </div>
    
    <button type="button" class="slider__button--first">LIVE RECORDING</button>
    <p class="slider__text">Our mission is to create
    a better way for customers
    to discover, engage and shop emerging brands and artists
    of tomorrow.
    </p>
    <button type="button" class="slider__button--second">RSVP</button>
</section>