.grid-section {
}
.grid {
}
.grid-title {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
}
.grid__cards {
}
.grid__item {
}
.grid__item-img {
}
.grid__item-text {
}
