.slider {
  //position: relative;
  padding: 30px 0 11px 0;
  background-color: var(--accent-color);
}
.slider__title {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.31;
  text-align: center;
  color: var(--text-color);
}
.slider__title-name {
  font-family: 'Ogg', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 2.52;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 200px;
}
.slider__foto {
  display: block;
  position: relative;
}
.slider__img {
  position: absolute;
  z-index: 1;
  top: -169px;
  left: 105px;
  margin: 0 auto;
  border-radius: 50%;
}
.slider__img--background {
  position: absolute;
  top: -236px;
  left: 44px;
}
// .background::before {
//   content: '';
//   position: relative;
//   //display: block;
//   background-image: url(./../images/Group58.png);
//   background-repeat: no-repeat;
//   //background-position: 150%;
//   background-size: contain;
//   width: 175.31px;
//   height: 175.31px;
//   //margin: 0 auto;
// }
.slider__button--first {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--text-color);

  display: block;
  width: 208px;
  height: 31px;
  background: var(--accent-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto 16px auto;
}
.slider__text {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 19px;
}
.slider__button--second {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--additional-text-color);

  display: block;
  width: 195px;
  height: 36px;
  background: var(--text-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  margin: 0 auto 29px auto;
}
