.slider {
  //position: relative;
  padding: 30px 0 11px 0;
  background-color: var(--accent-color);
}
.slider__title {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.31;
  text-align: center;
  color: var(--text-color);
  @include tablet {
    margin:109px 0 0 0;
    //text-align: end;
  }
  @include desktop {
    margin:109px 0 0 0;
    //text-align: end;
  }
}
.slider__title-name {
  font-family: 'Ogg', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 2.52;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 180px;
  @include tablet {
    margin: 0 0 0 0;
    //text-align: end;
    font-size: 61px;
  }

  @include desktop {
    margin: 0 0 0 0;
    //text-align: end;
    font-size: 61px;
  }
}
.slider__main{
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
}
.slider__left{
  @include tablet{
    margin-top: 391px;
    flex-basis: 400px;
  }
  @include desktop {
    margin-top: 404px;
    flex-basis: 400px;
  }
}
.slider__right{
  @include tablet{
    justify-content: center;
    text-align: center;
  }
  @include desktop {
    justify-content: center;
    text-align: center;
  }
}
.slider__foto {
  display: block;
  position: relative;
}
.slider__img {
  position: absolute;
  z-index: 1;
  top: 162px;
  left: 89px;
  margin: 0 auto;
  border-radius: 50%;
  width: 118px;
  height: 118px;
  @include tablet {
    top: -278px;
    left: 105px;
    width: 215px;
    height: 215px;
  }
  @include desktop{
    top: -314px;
    left: 105px;
    width: 215px;
    height: 215px;
  }
}
.slider__img--background {
  position: absolute;
  top: 99px;
  left: 28px;
  width: 250px;
  height: 250px;
  @include tablet{
    width: 455px;
    height: 455px;
    top: -390px;
    left: 18px;
  }
  @include desktop {
    width: 455px;
    height: 455px;
    top: -430px;
    left: 18px;
  }
}
// .background::before {
//   content: '';
//   position: relative;
//   //display: block;
//   background-image: url(./../images/Group58.png);
//   background-repeat: no-repeat;
//   //background-position: 150%;
//   background-size: contain;
//   width: 175.31px;
//   height: 175.31px;
//   //margin: 0 auto;
// }
.slider__button--first {
  position: relative;
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--text-color);

  display: block;
  width: 180px;
  height: 31px;
  background: var(--accent-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto 16px auto;
  @include tablet{
    margin: 0 auto 0 auto;
  }
  @include desktop{
    margin: 0 auto 0 auto;
  }
}
.slider__button--oval {
  display: inline;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  margin-right: 0;
  border-radius: 50%;
  background: #b3f695;
}
.slider__text {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 19px;
  @include tablet {
    width: 425px;
    margin: 0 auto 20px auto;
    line-height: 1.68;
  }
  @include desktop {
    width: 425px;
    margin: 0 auto 20px auto;
    line-height: 1.68;
  }
}
.slider__button--second {
  font-family: 'Trade Gothic LT Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--additional-text-color);

  display: block;
  width: 195px;
  height: 36px;
  background: var(--text-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  margin: 0 auto 29px auto;
  @include tablet{
    margin: 0 auto 91px auto;
    background: var(--accent-color);
    color: var(--text-color);
  }
  @include desktop{
    margin: 0 auto 91px auto;  
    background: var(--accent-color);
    color: var(--text-color);
  }
}
