
ul li {
  list-style: none;
  
}
ul{
    padding-left: 0;
}
.list span {
  cursor: pointer;
}

.hide::after {
  content: "+";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 6px;

}


