.header {
  padding: 5px 0 32px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include tablet {
    justify-content: end;
  }
  @include desktop {
    justify-content: end;
  }
}
.header-logo {
  margin: 0 auto;
  width: 42px;
  height: 52px;
  @include tablet {
    width: 67px;
    height: 82px;
  }
  @include desktop {
    width: 67px;
    height: 82px;
  }
}
.header-logo--text{
  margin: 0 auto;
  width: 181px;
  height: 49px;
  @include tablet {
    width: 286px;
    height: 79px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 286px;
    height: 79px;
    margin-bottom: 20px;
  }
}
.header-menu {
  
  //display: inline;
    
  @include tablet {
    display: flex;
    justify-content: space-around;
    
    font-family: 'Trade Gothic LT Std', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;

    text-align: center;
    color: var(--text-color);

    transform: none;
  }
  @include desktop {
    display: flex;
    justify-content: space-around;

    font-family: 'Trade Gothic LT Std', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: var(--text-color);
    transform: none;
  }
}
.header-menu--js{
  transform: translateX(-100%);
}
.header-menu--js.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: var(--accent-color);
  text-align: center;
  
  transition: transform 0.5s;
  transform: translateX(0);
}
.header-menu__item {
  //display: none;
  
}
.header__menu--mobile{
  
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }

}