.header {
  padding: 5px 0 32px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include tablet {
    justify-content: end;
  }
  @include desktop {
    justify-content: end;
  }
}
.header-logo {
  margin: 0 auto;
  width: 42px;
  height: 52px;
  animation: pulse 4s infinite;
   @keyframes pulse {
     0% {
       transform: scale(1.1);
       transition: var(--animation);
     }
   }
  @include tablet {
    width: 67px;
    height: 82px;
        
  }
  @include desktop {
    width: 67px;
    height: 82px; 
    
  }
}
.header-logo--text{
  margin: 0 auto;
  width: 181px;
  height: 49px;
  animation: pulse 4s infinite;
  @keyframes pulse {
    0% {
      transform: scale(1.1);
      transition: var(--animation);
    }
  }
  @include tablet {
    width: 286px;
    height: 79px;
    margin-bottom: 20px;
    
  }
  @include desktop {
    width: 286px;
    height: 79px;
    margin-bottom: 20px;
    
  }
}
.header-menu {
      
  @include tablet {
    display: flex;
    justify-content: space-around;
    
    font-family: 'Trade Gothic LT Std', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;

    text-align: center;
    color: var(--text-color);

    transform: none;
  }
  @include desktop {
    display: flex;
    justify-content: space-around;

    font-family: 'Trade Gothic LT Std', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: var(--text-color);
    transform: none;
  }
}

.header-menu__item:not(:last-child) {
  margin-bottom: 10px;
  
}
.header-menu__item:hover,
.header-menu__item:focus {
  transform: scale(1.2);
}
.header__menu--mobile{
  
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }

}